<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<tittle>Visit Austria Travellers!!</tittle>
</head>
<body>
    <header><img src="./img/showtime2.jpg", "image/jpeg"  alt="Austria Travel Logo"></header>
{{{body}}}
</body>
</html>
